@{
  Layout = "_Layout";
}

@model Factory.Models.Engineer

<h4>Add a new task</h4>

@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.Description)
  @Html.TextBoxFor(model => model.Description)

  @Html.LabelFor(m => m.Birthdate)
  @Html.TextBoxFor(m => m.Birthdate, new {type="date", @class="form-control"})


  @Html.Label("Select machine")
  @Html.DropDownList("MachineId")


  <input type="submit" value="Add new engineer" class="btn btn-default" />
}
<p>@Html.ActionLink("Show all engineers", "Index")</p>