@{
  Layout = "_Layout";
}

@model Factory.Models.Engineer;

<main>

  <h2>Edit</h2>

  <h4>Edit this task: @Html.DisplayFor(model => model.EngineerName)</h4>

  @using (Html.BeginForm())
  {
      @Html.HiddenFor(model => model.EngineerId)

      @Html.LabelFor(model => model.EngineerName)
      @Html.EditorFor(model => model.EngineerName)

      @Html.LabelFor(model => model.EngineerEmploymentStartDate)
      @Html.EditorFor(model => model.EngineerEmploymentStartDate)

      @Html.Label("Add a machine that this engineer is licensed to repair")
      @Html.DropDownList("MachineId")

      <input type="submit" value="Save" />
  }

  <p>@Html.ActionLink("Back to list", "Index")</p>
</main>